body{
  
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwBzUl7uF3_zQ34f2utYj6Y3yDxVqICWvIvA&usqp=CAU");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: sans-serif;
}
